@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
  --color-primary: #861EBA;
  --color-primary-dull: #65168C;
}

*{
   font-family: "Inter", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background: #09090B ;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}